@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: inherit;
}

@keyframes eq {
  0% { height: 20%; }
  50% { height: 100%; }
  100% { height: 20%; }
}

.animate-eq {
  animation: eq 0.9s infinite ease-in-out;
}

.animate-eq2 {
  animation: eq 1.1s infinite ease-in-out;
}

.animate-eq3 {
  animation: eq 0.7s infinite ease-in-out;
}
